---
- name: update packages
  apt: upgrade=dist update_cache=yes
  become: True

- name: Install common packages
  apt: package={{ item }} update_cache=yes
  become: True
  with_items:
    - software-properties-common
    - nginx
    - mariadb-server
    - php-fpm
    - php-mysql
    - python-mysqldb


- name: make log dir
  file: path={{ log_dir }} state=directory

- name: delete default sites-enbabled
  file: path=/etc/nginx/sites-enabled/default state=absent
  become: True
